.character-item-wrapper {
  border: 1px solid #28f0b2;
  min-height: 40px;
  line-height: 40px;
  padding: 10px;
  margin: 20px 0px;
  -webkit-transition: display 2.5s ease-in-out;
  -moz-transition: display 2.5s ease-in-out;
  -o-transition: display 2.5s ease-in-out;
  transition: display 2.5s ease-in-out;
}

.currentTurn {
  background-color: #f9f7ec;
  color: #000000;
  border: 1px solid #000000;
}

.character-npc {
  border: 1px solid #e01014;
}

.character-level {
  float: left;
  margin-right: 10px;
}

.character-name {
  font-size: 20px;
}

.character-show-details {
  margin-left: 10px;
}

.character-description-wrapper {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.character-description-wrapper span {
  margin: 0 5px;
}

.character-description-hit-point,
.character-description-perception,
.character-description-armour,
.death-wrapper {
  line-height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
}

.death-wrapper {
  display: none;
}

.character-item-wrapper:hover .death-wrapper {
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}

.character-description-hit-point > img,
.character-description-perception > img,
.character-description-armour > img,
.death-wrapper > img {
  display: inline-block;
  margin-right: 0.4em;
  vertical-align: middle;
}

.character-item-summary-col {
  display: grid;
  grid-template-columns: 150px 150px 150px;
}

.character-item-summary-col > span {
  margin-right: 10px;
}
