.character-item-wrapper {
    border: 1px solid #28F0B2;
    height: 40px;
    line-height: 40px;
    padding: 10px;
    margin: 20px 0px;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.currentTurn {
    background-color: #F9F7EC;
    color: #000000;
    border: 1px solid #000000;
}

.character-npc {
    border: 1px solid #E01014;
}

.character-level {
    float: left;
    margin-right: 10px;
}

.character-name {
    font-size: 20px;
}

.character-description-wrapper {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.character-description-wrapper span {
    margin: 0 5px;
}

.character-description-hit-point, .character-description-perception, .character-description-armour {
    line-height: 40px;
    margin: auto;
    display: flex;
    align-items:center;
}

.character-description-hit-point > img, .character-description-perception > img, .character-description-armour > img {
    display: inline-block;
    margin-right: 0.4em;
    vertical-align: middle;
}