.homebrew-monster-form-wrapper {
    position: absolute;
    background-color: #F9F7EC;
    max-width: 335px;
    padding: 20px 10px;
    margin-left: 2px;
}


.homebrew-monster-form {
    background-color: none;
    background: linear-gradient(to right, #000000 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#000000 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, #000000 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#000000 50%, rgba(255, 255, 255, 0) 0%);
    background-position: top, right, bottom, left;
    background-repeat: repeat-x, repeat-y;
    background-size: 10px 1px, 1px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 0px;
}

.homebrew-monster-input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #000000;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    margin: 5px 0px;
}

.homebrew-monster-form input[type="number"], .homebrew-monster-form input[type="text"] {
    font-size: 14px;
    color: #000000;
    text-align: center;
    margin: 5px 8px;
}

.homebrew-monster-form input[type="number"]:focus, .homebrew-monster-form input[type="text"]:focus {
    border-bottom: 1px solid #c53030;
}

/* .homebrew-monster-form input[type="number"] {
    width: 40px;
}

.homebrew-monster-form input[type="text"] {
    width: 90%;
} 
*/

.homebrew-monster-button {
    display: block;
    background: transparent;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 5px;
    letter-spacing: 1px;
    margin-top: 5px;
    cursor: pointer;
    background: #000000;
    color:  #F9F7EC;
}

@media only screen and (max-width: 1250px) {
    .homebrew-monster-form-wrapper {
        position: relative;
        max-width: 100%;
    }
}