.homebrew-monster-form-wrapper {
    position: absolute;
    background-color: #F9F7EC;
    width: 380px;
    height: 100px;
}


.homebrew-monster-form {
    width: 100%;
    background-color: none;
    line-height: 20px;
    background: linear-gradient(to right, #000000 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#000000 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, #000000 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#000000 50%, rgba(255, 255, 255, 0) 0%);
    background-position: top, right, bottom, left;
    background-repeat: repeat-x, repeat-y;
    background-size: 10px 1px, 1px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.homebrew-monster-input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #000000;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
}

.homebrew-monster-form input[type="number"], .homebrew-monster-form input[type="text"] {
    font-size: 14px;
    color: #000000;
    text-align: center;
    margin: 0px 8px;
}

.homebrew-monster-form input[type="number"]:focus, .homebrew-monster-form input[type="text"]:focus {
    border-bottom: 1px solid #c53030;
}

.homebrew-monster-form input[type="number"] {
    width: 40px;
}

.homebrew-monster-form input[type="text"] {
    width: 120px;
}

.create-party-member-button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.create-party-member-button img{
    vertical-align: middle;
    background-color: #F9F7EC;
}