body, html {
    height: 100vh;
    width: 100vh;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

#app {
    height: 100vh;
    width: 100vh;
    margin: 0;
    padding: 0;
}

.signInPanelWrapper {
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    margin: 0;
    width: 100%;
    height: 55px;
    background-color: #000000; 
}

.customButton {
    color: white;
    border: none;
    background-image: linear-gradient(#333333, rgb(157, 10, 14));
    margin: 0px 5px;
    font-size: 14px;
    padding: 5px 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

.customButton > img {
    vertical-align: middle;
    margin-right: 6px;
}

.signInPanelHeader {
    font-size: 26px; 
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
    line-height: 55px;
}

#signInPanel, .logoutWrapper {
    position: absolute;
    top: 10px;
    right: 0;
    margin-right: 20px;
    line-height: 40px;
}

.welcome-description {
    color: white;
    margin-right: 10px;
    letter-spacing: 1.5px;
}

.email, .emailPassword {
    border: 0;
    outline: 0;
    background-color: #292929;
    border-bottom: 1px solid #ffffff;
    margin: 0 5px;
    padding: 5px;
    color: white;
}

.appWrapper {
    width: 100%;
    height: 94.35vh;
    z-index: 0;
}

.darkWrapper {
    position: absolute;
    width: 100%;
    height: 94.35vh;
    background-color: rgba(0, 0, 0, 0.6);
    top: 55px; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.mainWrapper {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 30px 0px;
    position: absolute;
    z-index: 5;
}

@media only screen and (max-width: 1250px) {
    .mainWrapper {
        flex-direction: column;
    }

    .roll-initiative-wrapper {
        order : 1;
    }

    .superLibrary {
        order : 3;
    }

    .encounterWrapper {
        order: 2;
    }

    .savedEncountersWrapper {
        order: 4;
    }

    .partyMemberWrapper {
        order: 5;
    }

}