.HPChanger-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.HPChanger-input {
  width: 40px;
  height: 15px;
  border: none;
  background-color: black;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

.HPChanger-button-wrapper {
  display: flex;
  flex-direction: column;
}

.HPChanger-button-heal-button {
  background-color: green;
  color: white;
  width: 60px;
  font-family: 'Roboto Condensed', sans-serif;
  border: none;
}

.HPChanger-button-damage-button {
  background-color: red;
  color: white;
  width: 60px;
  font-family: 'Roboto Condensed', sans-serif;
  border: none;
}
