.encounterWrapper {
    background-color: #292929;
    color: #ffffff;
    width: 43%;
    margin: auto;
    max-height: 90vh;
    border: 2px solid #c53030;
    z-index: 9999999999;
    -webkit-box-shadow: 0px 2px 46px 33px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 46px 33px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 46px 33px rgba(0,0,0,0.75);     
}

.encounterWrapperHeader {
    background-color: #0B0B0B;
    border-bottom: 2px solid #c53030;
    padding: 15px;
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}

.save-button > button {
    background-color: #0B0B0B;
    border: none;
    outline: 0;
    cursor: pointer;
}

.create-button {
    margin-left: 10px;
}

.next-button > button {
    background-color: #0B0B0B;
    border: none;
    outline: 0;
    cursor: pointer;
}