.party-member-item-wrapper {
    height: 20px;
    line-height: 20px;
    padding: 10px;
    margin: 10px 0px;
    background-color: #cccccc; 
    cursor: pointer;
}

.party-member-item-wrapper:hover {
    background: #292929;
    color: white;
  }
  

.party-member-add {
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

.party-member-name {
    font-size: 20px;
}

.party-member-description-wrapper {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.party-member-description-wrapper span {
    margin: 0 5px;
}

.party-member-description-hit-point, .party-member-description-perception, .party-member-description-armour {
    line-height: 20px;
    margin: auto;
    display: flex;
    align-items:center;
}

.party-member-description-hit-point > img, .party-member-description-perception > img, .party-member-description-armour > img {
    display: inline-block;
    margin-right: 0.4em;
    vertical-align: middle;
}
