.savedEncountersWrapper {
    position: absolute;
    top: 60vh;
    right: 0;
    background-color: #cbb596;
    color: #ffffff;
    max-width: 380px;
    min-width: 333px;
    margin: auto;
    border: 2px solid #000000;
    z-index: 99;
    -webkit-box-shadow: 0px 2px 46px 33px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 46px 33px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 46px 33px rgba(0, 0, 0, 0.75);
  }

.savedEncountersWrapperHeader {
  background: linear-gradient(#0b0b0b, 20%, rgb(157, 10, 14));
  border-bottom: 2px solid #000000;
  padding: 15px;
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  text-align: center;
}

.savedEncounter-list-wrapper {
  background-color: #F9F7EC;
  padding: 10px;
}

.saved-ecounter-item-wrapper {
  color: #000000;
  background-color: #cccccc; 
  height: 20px;
  line-height: 20px;
  padding: 10px;
  margin: 10px 0px;
  cursor: pointer;
}

.saved-ecounter-item-wrapper:hover {
  background: #292929;
  color: white;
}


.selected-encounter {
  color: black;
}
